*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 30px;
}

/* Стили левого блока */

.result {
  width: auto;
  flex: 1;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Форма */
.input {
  outline: none;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  border-left: none;
  border-right: none;
  border-bottom: #fff 1px solid;
  border-top: #fff 1px solid;
  background-color: transparent;
  height: 27px;
  width: 225px;
  padding: 0;
  appearance: none;
  color: #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: #fff 1px solid;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

/* Стили правого блока */

.content__details {
  width: 100%;
  max-width: 399px;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px; /* Тайтл выглядит на +-5px выше, чем на макете. То же и с тайтлами карточек. Отступы и размеры по макету*/
}

.content__list-container {
  height: 298px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 2px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 70px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

/* Стили карточек */

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  display: block;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: #fff 1px solid;
  outline-offset: 1px;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 0px;
}

.content__video-card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  overflow: hidden;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

/* Buttons */

.button {
  border: #fff 1px solid;
  background-color: transparent;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  min-height: 34px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.result__video-container,
.content__list-container {
  position: relative;
}


.button,
.input,
.content__card-link {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
